/.bundle
/.project
/vendor/bundle

/db/*.sqlite3
/db/*.sqlite3-journal
/config/database.yml
/config/application.yml
/config/sidekiq.yml
/config/ldap.yml
/config/adapters.yml
log/development.log

/coverage/*
/spec/fixtures/api

/log/*.log
/tmp/*
/tmp

.DS_Store
.keep
public/assets/source_maps
/.idea
*.sublime-project
*.sublime-workspace

.rvmrc
Procfile
dump*.rdb
